<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Finding a searchword in biological data">
    <meta name="author" content="Femke Spaans">
    <title>Biological data searchword finder</title>
</head>
<body>
<form method="post" action="{{ url_for("home") }}">
    <p>
        <label for="searchword">Searchword:</label><br>
        <input type="text" id="searchword" name="searchword" required><br>
    </p>
    <p>
        <input type="submit" value="Submit" formmethod="post">
    </p>
</form>
{% if rows %}
        <ul>
            {% for item in rows %}
                <li>
                    {{ item|safe }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>